# Scraping Finacial Times

In [1]:
import pandas as pd

In [2]:
def risk(isin: str):
    url_base = 'https://markets.ft.com/data/funds/tearsheet/'
    currency='USD'

    periods = {0: '1 year', 1: '3 years', 2: '5 years'}
    url = f'{url_base}risk?s={isin}:{currency}'

    tables = pd.read_html(url, index_col=0)

    table_df = {}
    for num, name in periods.items():
        table_df[name] = pd.concat([tables[num], tables[num+1]])
    return  pd.concat(table_df, 1)

In [3]:
def performance(isin: str):
    url_base = 'https://markets.ft.com/data/funds/tearsheet/'
    currency = 'USD'

    url = f'{url_base}performance?s={isin}:{currency}'

    return pd.read_html(url, index_col=0)[0]

In [4]:
def historical(isin: str):
    url_base = 'https://markets.ft.com/data/funds/tearsheet/'
    currency = 'USD'

    url = f'{url_base}historical?s={isin}:{currency}'

    historical = pd.read_html(url, index_col=0)[0]
    historical.index = pd.to_datetime(historical.index.str.split(', ').str[-2:].str.join(' '))
    return historical

In [5]:
isin ='LU1548497426'

risk(isin)

                    1 year                  3 years                  5 years  \
                      Fund Category average    Fund Category average    Fund
Alpha                37.39               --    6.83               --    6.83
Beta                  1.03               --     1.1               --     1.1
Information ratio     4.43               --    0.73               --    0.73
R squared           +81.90               --  +81.90               --  +75.40
Sharpe ratio         +2.76               --   +2.76               --   +1.39
Standard deviation  24.76%               --  24.76%               --  23.66%


                   Category average
Alpha                            --
Beta                             --
Information ratio                --
R squared                        --
Sharpe ratio                     --
Standard deviation               --

In [6]:
performance(isin)

,5 years,3 years,1 year,6 months,3 months,1 month
Allianz Global Investors Fund - Allianz Global Artificial Intelligence AT USD,--,+33.46%,+93.86%,+36.06%,+10.94%,-3.55%
Sector Equity Technology,+25.87%,+23.73%,+52.60%,+19.69%,+11.46%,-2.61%
Fund quartile,--,1st,1st,1st,1st,2nd
Funds in category,176,240,373,433,465,478

In [7]:
historical(isin)

             Open   High    Low  Close Volume
Date
2021-02-26  30.93  30.93  30.93  30.93   ----
2021-02-25  32.56  32.56  32.56  32.56   ----
2021-02-24  32.21  32.21  32.21  32.21   ----
2021-02-23  32.41  32.41  32.41  32.41   ----
2021-02-22  33.12  33.12  33.12  33.12   ----
2021-02-19  32.89  32.89  32.89  32.89   ----
2021-02-18  33.21  33.21  33.21  33.21   ----
2021-02-17  33.61  33.61  33.61  33.61   ----
2021-02-16  33.81  33.81  33.81  33.81   ----
2021-02-12  33.58  33.58  33.58  33.58   ----
2021-02-11  33.19  33.19  33.19  33.19   ----
2021-02-10  33.40  33.40  33.40  33.40   ----
2021-02-09  33.21  33.21  33.21  33.21   ----
2021-02-08  32.73  32.73  32.73  32.73   ----
2021-02-05  32.24  32.24  32.24  32.24   ----
2021-02-04  31.78  31.78  31.78  31.78   ----
2021-02-03  31.67  31.67  31.67  31.67   ----
2021-02-02  31.43  31.43  31.43  31.43   ----
2021-02-01  30.40  30.40  30.40  30.40   ----
2021-01-29  30.53  30.53  30.53  30.53   ----
2021-01-28  30.28  30.28  30.28  30.28   ----